/* **************************************** */
/* **************************************** */
/* ***********Etiquetas globales*********** */
/* **************************************** */
/* **************************************** */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* ****************************************** */
/* ****************************************** */
/* ***********Etiquetas del header*********** */
/* ****************************************** */
/* ****************************************** */

header {
    margin: 5.8rem auto .5rem;
    font-family: 'Times New Roman', Times, serif;
}

header h1 {
    margin: 0 auto;
}

header span {
    display: block;
    color: transparent;
    height: 3rem;
    /* para que el h1 no se vea */
    background-image: url('http://pngimg.com/uploads/wikipedia/wikipedia_PNG11.png');
    /* las comillas (' ') para pergar la URL dentro son obligatorias | esta etiqueta trae una imagen de algun lado */
    background-repeat: no-repeat;
    /* para que la imagen no se repita si es muy chica o se expanda si es muy grande */
    background-position: center;
    /* para que se posicione en el centro del contenedor */
    background-size: contain;
    /* para que la imagen se adapte al tamaño del contenedor */
}

header p {
    margin: 0.5rem auto;
    font-size: 1.5rem;   
    font-weight: normal;
    justify-items: center;
    width: 12.8rem;
    text-align: center;
}

/* **************************************** */
/* **************************************** */
/* ***********Etiquetas del main*********** */
/* **************************************** */
/* **************************************** */

/* **************************************** */
/* ***********Section idiomas************** */
/* **************************************** */

main .idiomas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url('https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikipedia-logo-v2.png');
    /* las comillas (' ') para pergar la URL dentro son obligatorias | esta etiqueta trae una imagen de algun lado */
    background-repeat: no-repeat;
    /* para que la imagen no se repita si es muy chica o se expanda si es muy grande */
    background-position: center; /* la posición que ocupa wikipedia real es 47.5% 47% */
    /* para que se posicione en el centro del contenedor */
    background-size: 20rem 18.3rem;
    /* para que la imagen se adapte al tamaño del contenedor */
    justify-items: center;
    margin: 2rem auto 0rem;
    width: 54.6rem;
    position: relative;
    /* para que funcione el absolute que tienen los id-idioma es necesario el relative, puesto que sino los absolute se basan en toda la pantalla */
}

main .recuadro-de-idioma {
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 1rem auto;
    cursor: pointer;
    width: 15rem;
    height: 4.5rem;
    /* padding: .3rem; */
}

main .otra {
    width: 15rem;
}

main .otra:hover {
    background-color: #eaecf0;
}

main .id-Español {
    position: absolute;
    /* Es necesario que en el contenedor exista un "Relative" para que este absolute se base en ese contenedor y no en toda la pantalla */
    left: 11%;
    top: 2%;
}

main .id-Ingles {
    position: absolute;
    left: 59%;
    top: 2%;
}

main .id-Japones {
    position: absolute;
    /* Es necesario que en el contenedor exista un "Relative" para que este absolute se base en ese contenedor y no en toda la pantalla */
    left: 1%;
    top: 22%;
}

main .id-Deutsch {
    position: absolute;
    /* Es necesario que en el contenedor exista un "Relative" para que este absolute se base en ese contenedor y no en toda la pantalla */
    left: 69%;
    top: 22%;
}

main .id-Ruso {
    position: absolute;
    /* Es necesario que en el contenedor exista un "Relative" para que este absolute se base en ese contenedor y no en toda la pantalla */
    left: -1%;
    top: 42%;
}

main .id-Frances {
    position: absolute;
    /* Es necesario que en el contenedor exista un "Relative" para que este absolute se base en ese contenedor y no en toda la pantalla */
    left: 71%;
    top: 42%;
}

main .id-Italiano {
    position: absolute;
    /* Es necesario que en el contenedor exista un "Relative" para que este absolute se base en ese contenedor y no en toda la pantalla */
    left: 1%;
    top: 62%;
}

main .id-Chino {
    position: absolute;
    /* Es necesario que en el contenedor exista un "Relative" para que este absolute se base en ese contenedor y no en toda la pantalla */
    left: 69%;
    top: 62%;
}

main .id-Portugues {
    position: absolute;
    /* Es necesario que en el contenedor exista un "Relative" para que este absolute se base en ese contenedor y no en toda la pantalla */
    left: 11%;
    top: 82%;
}

main .id-Polski {
    position: absolute;
    /* Es necesario que en el contenedor exista un "Relative" para que este absolute se base en ese contenedor y no en toda la pantalla */
    left: 59%;
    top: 82%;
}

main .recuadro-de-idioma strong a {
    color: #36c;
    display: flex;
    justify-content: center;
    /* para centrar un elemento al medio horizontalmente */
    margin: 0 auto .3rem;
    text-decoration: none;
}

main .recuadro-de-idioma strong a:hover {
    text-decoration: underline;
}

main .recuadro-de-idioma p {
    font-size: 1.3rem;
    color: #54595d;
    text-align: center;
}

/* **************************************** */
/* ************Section search************** */
/* **************************************** */

main .search {
    width: 60rem;
    margin: 1.7rem auto 1.95rem;
    text-align: center;
    vertical-align: middle;
    font-size: 1.4rem;
    /* display: flex; */
    /* justify-content: center; */
    /* Estas dos linas de arriba son para que se centre el contenido */
}

main .busqueda {
    display: flex;
    /* para que la lupa quede al lado del buscar */
    height: 4.4rem;
    width: 54rem;
    justify-content: center;
    margin: 0 auto;
}

main .escritura {
    width: 73%;
    height: 4.4rem;
    border: .1rem solid #a2a9b1;
    display: flex; 
    /* para que se coloquen una al lado de la otra */
    align-items: center;
    /* para central horizontalmente */
}

main input {
    border: none;
    flex-grow: 1;
    height: 4.2rem;
    padding: .5rem 1rem;
}

/* main input[type=text]:focus {
    border-color: #36c;
     /* border: .2rem solid #36c;
} 
NO SUPE COMO HACER QUE SE MARQUE AFUERA AZUL
*/

main .selector-lenguage {
    color: #54595d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    width: 4.6rem;
    margin: 0 1rem;
}

/* No supe como hacer que solo aparezca la sigla del idioma en vez de que aparezca el nombre completo del idioma */

main .selector-lenguage:hover {
    background-color: #f8f9fa;
}

main .lupa {
    height: 4.4rem;
    width: 5.6rem;
    background-color: #36c;
    border: .1rem solid #36c;
    display: flex;
    justify-content: flex-end;

    background-image: url('https://www.pngkey.com/png/full/87-872187_lupa-search-icon-white-png.png');
    /* las comillas (' ') para pergar la URL dentro son obligatorias | esta etiqueta trae una imagen de algun lado */
    background-repeat: no-repeat;
    /* para que la imagen no se repita si es muy chica o se expanda si es muy grande */
    background-position: center;
    /* para que se posicione en el centro del contenedor */
    background-size: 2.2rem 2.2rem;
    /* para que la imagen se adapte al tamaño del contenedor */

}

main .wikipedia-en-tu-idioma {
    margin: 3.1rem auto 3rem;
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main .wikipedia-en-tu-idioma hr {
    width: 15%;
    border-top: 1px solid #c8ccd1;
    margin: 2rem 1rem;
}

main .leer-central {
    display: flex;
    border: .1rem solid #a2a9b1;
    padding: .6rem 1.2rem;
    background-color: #f8f9fa;
    align-items: center;
    height: 3.6rem;
}

main .leer-central:hover {
    cursor: pointer;
    background-color: #fff;
}

main .letrachina {
    width: 2.2rem;
    height: 2.2rem;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Translation_icon_cropped.svg/512px-Translation_icon_cropped.svg.png');
    /* las comillas (' ') para pergar la URL dentro son obligatorias | esta etiqueta trae una imagen de algun lado */
    background-repeat: no-repeat;
    /* para que la imagen no se repita si es muy chica o se expanda si es muy grande */
    background-position: center;
    /* para que se posicione en el centro del contenedor */
    background-size: 2.2rem 2.2rem;
    /* para que la imagen se adapte al tamaño del contenedor */
    margin-right: 1rem;
}

main .wikipedia-en-tu-idioma select {
    font-size: 1.4rem;
    font-weight: bold;
    color: #3366cc;
    border: none;
    background-color: transparent;
}

/* ****************************************** */
/* ***********Etiquetas del footer*********** */
/* ****************************************** */

body hr {
    border-bottom: 1px solid #c8ccd1;
}